.center {
    position: absolute;
    left: 25%;
}
#canvas {
    border: 1px solid black; 
    align-self:center;
}
#messagebox {
    width: 350px;
    height: 200px;
    border: 1px solid black; 
    background-color: aqua;
    font: small-caps bold 30px/50px Georgia, serif;
    align-self:center;
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: 30%;
}
#message {
    position: absolute;
    left:30%;
    top:30%
}
#highscoremessage {
    position: absolute;
    left:15%;
    top:10%
}
button {
    border-radius: 0%;
    border-color: blue;
    background-color: RGB(120,160,255);
}
body {
    background-color: RGB(120,160,255);
}